body {
	background-color: #7777ff;
	font-family: Helvetica, Calibri, sans-serif;
}

div {
	background-color: #9d9dFF;
	width: 70%;
	margin: auto;
}

h2, h1 {
	text-decoration: underline;
}

ul {
	list-style: upper-roman;

}

li {
	background-color: #5252ff;
	margin-bottom: 15px;
}